body {
  color: black;
}

.center {
  text-align: center;
}

.hiden {
  display: none;
}

main {
  margin-top: 75px;
}
/* header */
header {
  position: fixed;
  width: 100%;
  z-index: 99999;
}

span img {
  padding: 0px 10px;
}

span.user {
  border-right: 2px solid white;
}

.bg-inverse {
  background-color: #2b2c2c!important;
  padding: 6px 40px;
}

.nav {
  margin-top: 31px;
}

.logo {
  width: 70px;
}

.rigth {
  float: right;
}
/* navbar */

.nav-tabs .nav-link.active {
  color: #050505;
  border-right: 1px solid rgb(105, 128, 158);
  border-color: none;
  background-color: azure;
}

.nav-tabs .nav-link {
  border-right: 1px solid rgb(117, 130, 155);
}

ul.nav.nav-tabs {
  background-color: rgb(82, 185, 192);
  color:rgb(63, 62, 62);
}

.nav-item a {
  color: white;
}

/* .form-inline .form-control{
  width: 50%;
} */

/* carrusel */
.carousel {
  height: 350px;
  margin-top: 75px;
}

.carousel-item>img {
  width: 100%;
  height: 350px;
}

/* cards */

.cards {
  border: 1px solid rgb(58, 58, 58);
  border-radius: 10px;
  margin-left: -7px;
}

.cards img {
  width: 80%;
}

span.parrafo {
  position:absolute;
}

div.div-card:hover span.parrafo {
  margin-top: 13%;
  /* margin-bottom: 5%; */
  transition: 1s;
}


/* data */
.img-characters {
  width: 60%;
}
 
@media (max-width:720px) { 
  .ul-nav {
    display: block;
  }

  .header-tab>li {
    display: none;
  }

  span.hiden {
    display: block;
  }

  .form-inline .form-control {
    width: 260px;
  }

  .icon-header {
    display: none;
  }
}
