body {
  color: black;
  font-family: 'Roboto Slab', serif;
}

.center {
  text-align: center;
}

.hiden {
  display: none;
}

main {
  margin-top: 75px;
}

/* header */

header {
  position: fixed;
  width: 100%;
  z-index: 99999;
}

button.mod {
  border: none;
  background-color: transparent;
}

span img {
  padding: 0px 10px;
  width: 48px;
}

span img:hover {
  width:  55px;
  background-color: #4ca08b3d;
  cursor: pointer;
}

span.user {
  border-right: 2px solid white;
}

.bg-inverse {
  background-color: #294146 !important;
  padding: 6px 40px;
}

.nav {
  margin-top: 31px;
}

.logo {
  width: 70px;
}

.rigth {
  float: right;
}

/* navbar */

.nav-tabs .nav-link.active {
  color: #050505;
  border-right: 1px solid rgb(105, 128, 158);
  border-color: none;
  background-color: azure;
}

.nav-tabs .nav-link {
  border-right: 1px solid rgb(117, 130, 155);
}

ul.nav.nav-tabs {
  background-color: rgb(82, 185, 192);
  color: rgb(63, 62, 62);
}

.nav-item a {
  color: white;
}

/* carrusel */

.carousel {
  height: 350px;
  margin-top: 75px;
}

.carousel-item>img {
  width: 100%;
  height: 350px;
}

/* cards */

.cards {
  border-radius: 10px;
  padding: 7px 35px;
  margin-left: 1%;
  box-shadow: 1px 5px 3px rgba(0, 0, 0, 0.582), 1px 5px 2px rgba(66, 66, 66, 0.24);
}

.col-md-3 {
  max-width: 24%;
}

.cards img {
  width: 80%;
}

.red {
  color: rgb(216, 142, 30);
  font-size: 2em;
}

/* data */

.img-characters {
  width: 60%;
}

/* modal */

.modal-content {
  margin-top: 19%;
  margin-left: 85%;
  margin-right: -85%;
}

.img-modal{
  width: 70%;
}

.text-modal {
  font-size: 12px;
}

#cantidad {
  width: 7%;
  border-radius: 4px;
}

.img-paypal {
  width: 114px;
}

.img-card {
  width:30px;
}

.delete {
  background-color: transparent;
  border: rgb(170, 93, 30) 1px solid;
  position: relative;
  left: 280px;
  height: 30px;
  padding: 5px;
}

#delete {
  font-size: 18px;
}

@media (max-width:720px) {
  .ul-nav {
    display: block;
  }

  .header-tab>li {
    display: none;
  }

  span.hiden {
    display: block;
  }

  .form-inline .form-control {
    width: 250px;
  }

  .icon-header {
    display: none;
  }

  .modal-content {
    margin-left: 0;
    margin-right: 0;
  }

  .img-paypal {
    width: 54px;
  }

  .img-card {
    width:12px;
  }

  .cards {
    padding: 7px;
    margin-left: 1%;
    font-size: 12px;
  }

  .cards img {
    width: 100%;
  }
  
  .red {
    font-size: 1em;
  }
}